BasedOnStyle: LLVM
IndentWidth: 2
UseTab: Never
IndentCaseLabels: true
AllowShortBlocksOnASingleLine: true
AllowShortCaseLabelsOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
ColumnLimit: 100
Standard: Cpp03
SortIncludes: false
