Steven G. Johnson <stevenj@alum.mit.edu> <stevenj@mit.edu>
Steven G. Johnson <stevenj@alum.mit.edu> <stevenj@math.mit.edu>
Steven G. Johnson <stevenj@alum.mit.edu> <stevenj@fftw.org>
Steven G. Johnson <stevenj@alum.mit.edu> <stevenj.mit@gmail.com>
Steven G. Johnson <stevenj@alum.mit.edu> <stevenj@ab-initio.mit.edu>
Steven G. Johnson <stevenj@alum.mit.edu> <stevenj@fftw.org>
Steven G. Johnson <stevenj@alum.mit.edu> <none>

David Roundy <roundyd@physics.oregonstate.edu> <droundy@abridgegame.org>
David Roundy <roundyd@physics.oregonstate.edu> <droundy@civet.berkeley.edu>

Ardavan Oskooi <oskooi@umich.edu> <ardavan@ab-initio.mit.edu>
Ardavan Oskooi <oskooi@umich.edu> <ardavan@mit.edu>
Ardavan Oskooi <oskooi@umich.edu> <ardfar@mit.edu>
