Steven G. Johnson <stevenj@mit.edu> <stevenj@mit.edu>
Steven G. Johnson <stevenj@mit.edu> <stevenj@math.mit.edu>
Steven G. Johnson <stevenj@mit.edu> <stevenj@fftw.org>
Steven G. Johnson <stevenj@mit.edu> <stevenj.mit@gmail.com>
Steven G. Johnson <stevenj@mit.edu> <stevenj@ab-initio.mit.edu>
Steven G. Johnson <stevenj@mit.edu> <stevenj@fftw.org>
Steven G. Johnson <stevenj@mit.edu> <stevenj@alum.mit.edu>

David Roundy <roundyd@physics.oregonstate.edu> <droundy@abridgegame.org>
David Roundy <roundyd@physics.oregonstate.edu> <droundy@civet.berkeley.edu>

Ardavan Oskooi <oskooi@umich.edu> <ardavan@ab-initio.mit.edu>
Ardavan Oskooi <oskooi@umich.edu> <ardavan@mit.edu>
Ardavan Oskooi <oskooi@umich.edu> <ardfar@mit.edu>
Ardavan Oskooi <oskooi@umich.edu> <oskooi@qoe.kuee.kyoto-u.ac.jp>
Ardavan Oskooi <oskooi@umich.edu> <oskooi@umich.edu>

Mihai Ibanescu <michel@mit.edu> <michel@mit.edu>
Peter Bermel <bermel@mit.edu> <bermel@mit.edu>
Alexander P. McCauley <mccauley@mit.edu> <mccauley@mit.edu>
Alejandro W. Rodriguez <arod@princeton.edu> <alexrod7@mit.edu>
Peter Bermel <pbermel@purdue.edu> <bermel@mit.edu>
Song Liang Chua <csliang@mit.edu> <csliang@mit.edu>
Hila Hashemi <hila.hashemi@gmail.com> <hila@math.mit.edu>
