language: python
dist: trusty
sudo: false

##################################################
# required linux packages and python packages
##################################################
addons:
  apt:
    packages:
    - guile-2.0-dev
    - libgsl0-dev
    - libfftw3-dev
    - gfortran
    - liblapack-dev
    - swig
    - libhdf5-serial-dev
    - libopenmpi-dev
    - mpi-default-bin
    - openmpi-bin
install:
  - pip install numpy mpi4py

##################################################
# environment variables applied to all build cases
##################################################
env:
  global:
  - CPPFLAGS=-I${HOME}/local/include LDFLAGS=-L${HOME}/local/lib GEN_CTL_IO=${HOME}/local/bin/gen-ctl-io
  - CORETESTS1="known_results symmetry bragg_transmission one_dimensional integrate convergence_cyl_waveguide aniso_disp harmonics stress_tensor near2far"
  - CORETESTS2="h5test three_d bench flux cylindrical two_dimensional physical 2D_convergence pml"

##################################################
# common installations performed before all build cases
##################################################
before_script:
  - git clone https://github.com/stevengj/libctl libctl-src
  - (cd libctl-src && git checkout master && sh autogen.sh --prefix=$HOME/local --enable-shared && make && make install)
  - git clone https://github.com/stevengj/harminv
  - (cd harminv && git checkout c221b2bcbaaa761f683aa5e2c6fa7efbbecdca1f && sh autogen.sh --prefix=$HOME/local --enable-shared && make && make install)
  - git clone https://github.com/stevengj/mpb
  - (cd mpb && git checkout master && sh autogen.sh --prefix=$HOME/local --enable-shared LIBS=-ldl --with-libctl=$HOME/local/share/libctl && make && make install)

##################################################
# build matrix:
##################################################
matrix:
  include:
  - python: "2.7"
    env: MPICONF="--without-mpi" CORETESTS="${CORETESTS1}"
  - python: "2.7"
    env: MPICONF="--with-mpi"    CORETESTS="${CORETESTS1}"
  - python: "3.4"
    env: MPICONF="--without-mpi" CORETESTS="${CORETESTS2}"
  - python: "3.4"
    env: MPICONF="--with-mpi"    CORETESTS="${CORETESTS2}"

##################################################
# build/test instructions
##################################################
script:
  - set -e
  - autoreconf --verbose --install --symlink --force
  - mkdir -p build && pushd build
#
  - ../configure --enable-maintainer-mode --prefix=$HOME/local --with-libctl=$HOME/local/share/libctl --with-python ${MPICONF}
  - make
#
  - pushd tests
  - make check TESTS=${CORETESTS} VERBOSE=1 || cat ../../tests/test-suite.log
  - popd
#
  - pushd libmeepgeom
  - make check || cat ../../libmeepgeom/test-suite.log
  - popd
#
  - pushd python
  - make check || cat ../../python/test-suite.log
  - popd
#
  - popd
