language: cpp
addons:
  apt:
    packages:
    - guile-2.0-dev
    - libgsl0-dev
    - libfftw3-dev
    - gfortran
    - libhdf5-serial-dev
    - liblapack-dev
    - swig
    - libopenmpi-dev
    - mpi-default-bin
before_script:
  - wget https://repo.continuum.io/miniconda/Miniconda3-4.3.14-Linux-x86_64.sh
  - bash Miniconda3-4.3.14-Linux-x86_64.sh -b -p ${HOME}/miniconda3
  - ${HOME}/miniconda3/bin/conda install -y numpy
  - ${HOME}/miniconda3/bin/conda install -y mpi4py
script:
  - git clone https://github.com/stevengj/libctl libctl-src
  - (cd libctl-src && git checkout master && sh autogen.sh --prefix=$HOME/local --enable-shared && make CFLAGS="-W" CXXFLAGS="-W" && make install)
  - git clone https://github.com/stevengj/harminv
  - (cd harminv && git checkout c221b2bcbaaa761f683aa5e2c6fa7efbbecdca1f && sh autogen.sh --prefix=$HOME/local --enable-shared && make && make install)
  - (CPPFLAGS=-I${HOME}/local/include LDFLAGS=-L${HOME}/local/lib GEN_CTL_IO=${HOME}/local/bin/gen-ctl-io sh autogen.sh --verbose --enable-maintainer-mode --prefix=$HOME/local --with-libctl=$HOME/local/share/libctl --with-mpi)
  - make distclean
  - mkdir build && pushd build
#  - (CPPFLAGS=-I${HOME}/local/include LDFLAGS=-L${HOME}/local/lib GEN_CTL_IO=${HOME}/local/bin/gen-ctl-io ../configure --enable-maintainer-mode --prefix=$HOME/local --with-libctl=$HOME/local/share/libctl --with-mpi && make CFLAGS="-W" CXXFLAGS="-W" && make check && make install)
  # Build and test pymeep with python 3.6
#  - make distclean
  - (CPPFLAGS=-I${HOME}/local/include LDFLAGS=-L${HOME}/local/lib GEN_CTL_IO=${HOME}/local/bin/gen-ctl-io PYTHON=${HOME}/miniconda3/bin/python ../configure --enable-maintainer-mode --prefix=$HOME/local --with-libctl=$HOME/local/share/libctl --with-python)
  - pushd python && make clean && make CFLAGS="-W" CXXFLAGS="-W" && make check && make install && popd
after_script:
   - cat test-suite.log
   - cat python/test-suite.log
   - cat python/tests/test-suite.log
