site_name: MEEP documentation
site_author: Homer Reid
repo_url: https://github.com/homerreid/meep/

pages:
- 'Index': 'index.md'

#docs_dir: 'doc'
#site_dir: 

#theme_dir: 'meep-mkdocs-theme'
#theme: readthedocs

#python:
#   version: 2 # for unicode
#   setup_py_install: True

#markdown_extensions:
#    - wikilinks
#    - toc:
#        title: Table of Contents
#    - attr_list
#    - fenced_code
#    - mdx_math:
#        enable_dollar_delimiter: True

#extra_javascript: ['https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML','mathjaxhelper.js']
