site_name: MEEP Documentation
site_author: S. G. Johnson et al.
repo_url: https://github.com/stevengj/meep/

docs_dir: 'doc/docs'
site_dir: 'doc/site'

theme_dir: 'doc/meep-mkdocs-theme'
theme: readthedocs

python:
   version: 2 # for unicode
   setup_py_install: True

markdown_extensions:
    - wikilinks
    - toc:
        title: Table of Contents
    - attr_list
    - fenced_code
    - mdx_math:
        enable_dollar_delimiter: True

extra_javascript: ['https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_HTML','mathjaxhelper.js']

pages:
- Manual:          'index.md'
- Introduction:    'Introduction.md'
- Download:        'Download.md'
- Release Notes:   'Release_Notes.md'
- FAQ:             'FAQ.md'
- Installation:    'Installation.md'
- Acknowledgements: 'Acknowledgements.md'
- License and Copyright: 'License_and_Copyright.md'
- Features:
    - Materials:     'Materials.md'
    - Exploiting Symmetry: 'Exploiting_Symmetry.md'
    - Cylindrical Coordinates: 'Cylindrical_Coordinates.md'
    - Perfectly Matched Layers: 'Perfectly_Matched_Layer.md'
    - Parallel Meep:        'Parallel_Meep.md'
    - Synchronizing the Magnetic and Electric Fields: 'Synchronizing_the_Magnetic_and_Electric_Fields.md'
    - Field Function Examples: 'Field_Function_Examples.md'
    - Yee Lattice: 'Yee_Lattice.md'
    - Guile and Scheme Information: 'Guile_and_Scheme_Information.md'
    - The Run Function is Not a Loop: 'The_Run_Function_Is_Not_A_Loop.md'
    - Units and Nonlinearity: 'Units_and_Nonlinearity.md'
- Scheme Interface:
    - User Interface: 'Scheme_User_Interface.md'
    - Tutorial/Basics:         'Scheme_Tutorial.md'
    - Tutorial/Local Density of States: 'Scheme_Tutorials/Local_Density_of_States.md'
    - Tutorial/Optical Forces:          'Scheme_Tutorials/Optical_Forces.md'
    - Tutorial/Near-to-Far Field Spectra: 'Scheme_Tutorials/Near_to_Far_Field_Spectra.md'
    - Tutorial/Casimir Forces:          'Scheme_Tutorials/Casimir_Forces.md'
    - Tutorial/Ring Resonator in Cylindrical Coordinates: 'Scheme_Tutorials/Ring_Resonator_in_Cylindrical_Coordinates.md'
    - Tutorial/Multilevel Atomic Susceptibility: 'Scheme_Tutorials/Multilevel_Atomic_Susceptibility.md'
    - Tutorial/Resonant Modes and Transmission in a Waveguide Cavity: 'Scheme_Tutorials/Resonant_Modes_and_Transmission_in_a_Waveguide_Cavity.md'
    - Tutorial/Material Dispersion:  'Scheme_Tutorials/Material_Dispersion.md'
    - Tutorial/Third Harmonic Generation: 'Scheme_Tutorials/Third_Harmonic_Generation.md'
- C++ Interface:
    - User Interface: 'C++_User_Interface.md'
    - Tutorial/Basics:    'C++_Tutorial.md'
